*
{
box-sizing: border-box;
}
.generator
{
  border: 2px solid greenyellow;
  border-radius:  20px;
  background-color: lightgrey;
  
  text-align: center;
  width: 300px;
  padding: 5px;
  cursor: pointer;
  user-select: none;
}
.maxallclass{
  position: relative;
  border: 2px solid greenyellow;
  border-radius: 20px;
  padding: 5px;
  background-color: lightgray;
  width: 100px;
  text-align: center;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  bottom: -30;
  cursor: pointer;
  user-select: none;
  
}
#settings
{
  bottom: -30;
  width: 600px;
  border: 2px solid greenyellow;
  border-radius:  20px;
  background-color: lightgrey;
  text-align: center;
  width: 200px;
  height: 35;
  padding: 5px;
  cursor: pointer;
  user-select: none;
  margin: auto;
}
.settings-table
{
  position: relative;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  top: 150;
}
.generator-container
{
    display: flex;
    width: 600px;
   flex-wrap:  wrap;
    margin: auto;
    margin-top: 75;
}
.prestiegecontainer
{
    position: relative;
    
    bottom: -30;
    width: 600px;
    border: 2px solid greenyellow;
    border-radius:  20px;
    background-color: lightgrey;
    text-align: center;
    width: 300px;
    padding: 5px;
    cursor: pointer;
    user-select: none;
    margin: auto;
}
.generatortabcontainer
{
  position: relative;
  bottom: -30;
  width: 600px;
  border: 2px solid greenyellow;
  border-radius:  20px;
  background-color: lightgrey;
  text-align: center;
  width: 100px;
  padding: 5px;
  cursor: pointer;
  user-select: none;
  margin: auto;
  display: inline-block;
 
}
.settingstabcontainer
{
  position: relative;
  bottom: -30;
  width: 600px;
  border: 2px solid greenyellow;
  border-radius:  20px;
  background-color: lightgrey;
  text-align: center;
  width: 100px;
  padding: 5px;
  cursor: pointer;
  user-select: none;
  margin: auto;
  display: inline-block;
  
}
.buttons
{
  position: absolute;
  top: 200;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.tickspeedcontainer
{
    position: relative;
    
  bottom: -30;
    width: 600px;
   border: 2px solid greenyellow;
  border-radius:  20px;
  background-color: lightgrey;
  text-align: center;
  width: 300px;
  padding: 5px;
  cursor: pointer;
  user-select: none;
  margin: auto;
  margin-bottom: 10px;
  margin-top: -30px;
}
.prestigecontainer2
{
    position: relative;
    
  bottom: -40;
    width: 600px;
   border: 2px solid greenyellow;
  border-radius:  20px;
  background-color: lightgrey;
  text-align: center;
  width: 300px;
  padding: 5px;
  cursor: pointer;
  user-select: none;
    margin: auto;
}
.prestigecontainer2.hidden
{
  display: none;
}
.prestiegecontainer.hidden
{
  display: none;
}
#currency 
{
    user-select: none;
    text-align: center;
    font-size: 40px;
    margin: 40px;
    position: relative;
    top: 30;
}
.generator.locked {
  
    border: 2px solid rgb(212, 90, 90);
  }
.generator.invisible
{
  display: none;
}
.generator.canprestige
{
  border: 2px solid yellow;
}

#myProgress {
     text-align: center; 
  line-height: 30px; 
  position: relative;
  bottom: -875;
  right: -50;
  width: 95%;
  background-color: grey;

}
.generator-tab.hidden{
  display: none;
}
#myBar {
  width: 0%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white; 
}